/* .primary{
    color: yellow;
    background-color: red;
}
.secondary{
    color: blue;
    background-color: yellow;
}
.font-axle{
    font-size: 100px;
    font-family: sans-serif;
}
.heading{
    text-align: center;
} */